<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <hr>
    <h3>
        Iniciando os estudos com nodejs e express
    </h3>
    <p>
        Essa pagina esta sendo renderizada com o EJS no express
    </p>
</body>
</html>