<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>

    <% if (!nome){ %>
    <h1>Faca login para ver seu perfil! </h1>
    <% } else{ %>
        <h1>Bem vindo <%= nome%> !</h1>
    <% } %>
</body>
</html>